<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Free InaResto for you" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="manifest" href="./app.webmanifest" />
    <meta name="theme-color" content="#DB0000" />
    <link rel="icon" href="./favicon.png" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>InaResto</title>
  </head>
  <body>
    <a href="#content" class="skip-link">Skip to content</a>
    <header class="header">
      <div class="header__inner">
        <h1>InaResto</h1>
      </div>
      <button id="hamburger" href="#">☰</button>
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item about_us"><a href="https://www.linkedin.com/in/jerry-huwae-7702431b6?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BlV4e%2BaAjTDebBszQ3nOr0A%3D%3D">About Us</a></li>
        </ul>
      </nav>
    </header>
    <!-- Jumbotron -->
    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">InaResto</h1>
        <p class="hero__tagline">Jelajahi berbagai cita rasa restaurant di Indonesia</p>
      </div>
    </div>
    <main>
      <section id="content">
        <div class="latest">
          <h1 class="latest__label">Explore Restaurant</h1>
          <div class="list" id="tes"></div>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright © 2023 - Inaresto Apps</p>
    </footer>
  </body>
</html>
